<!DOCTYPE html>
<html>
  <head>
    <title>Blog Article's</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style>
      body{
        top: 0;
        left: 0;
        margin: 0;
      }
    </style>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'navbar' %>
    <br><br>
    <div>
      <%= yield %>
    </div>
  </body>
</html>
